__pycache__/
disassembly/
test/build
test/disassembly
test/test.gb
tmp/

# Build artifacts
Yoshi/game.o
Yoshi/game.gb
Yoshi/game.sym
Yoshi/game.map
Pokemon/game.o
Pokemon/game.gb
Pokemon/game.sym
Pokemon/game.map
